.main{
  /* min-height: 140vh; */
}

.hero{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(./assets/Bgshoes.png) center center no-repeat ;
  min-height: 100vh;
  width: auto;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.shoptag{
  position: absolute;
  top: 310px;
  left: 158px;

}
.shopbtn{
position: absolute;
top: 350px;
left: 68px;
height: 40px;
width: 250px;
font-size: 1rem !important;
}

.top{
background: url(./assets/top.png) no-repeat center center;
height:80vh ;
width: 100%;
background-size: cover;
transition: .5s all ease;
cursor: pointer;
position: relative;

}
.bottom{
background: url(./assets/bottom.png) no-repeat center center;
height:80vh ;
background-size: cover;
transition: .5s all ease;
cursor: pointer;
position: relative;
}
.shoes{
background: url(./assets/shoes.png) no-repeat center center;
height:80vh ;
width: 100%;
background-size: cover;
transition: .5s all ease;
position: relative;
cursor: pointer;
}

.top:hover{
  transform: scale(1.03);
  transition: .5s all ease;

}
.bottom:hover{
  transform: scale(1.03);
  transition: .5s all ease;
}
.shoes:hover{
  /* filter: grayscale(0); */
  transform: scale(1.03);
  transition: .5s all ease;
}

.bgmembership{
  margin-top: 2rem;
  padding: 4rem;
  background: #f5f5f5;
}

.cardcss{
  cursor: pointer;
}

/* .title{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.title span{
  border-bottom:  5px solid grey;
  padding: 1rem 25rem;


}